<div class="row" >
    <div class="col s5 input-field grey lighten-2" style="padding: 20px;">
        <input type="text" id="search_input">
        <label for="search_input">Search</label>
    </div>
</div>
<div class="row">
    <div class="col s12 grey lighten-2" id="formulaireTache" style="padding: 20px;">
        <div class="input-field col s3 border">
            <input type="text" id="titre">
            <label for="titre">Titre</label>
        </div>
        <div class="input-field col s6 border">
            <textarea type="text" id="description" class="materialize-textarea"></textarea>
            <label for="description">Description</label>
        </div>
        <div class="col s1 border">
            <a id="ajoutTache"
               class="btn-floating btn-large waves-effect waves-light orange-text text-lighten-3 deep-orange darken-1"><i
                        class="material-icons">add</i></a>
            <a id="validModif"
               class="btn-floating btn-large waves-effect waves-light orange-text text-lighten-3 deep-orange darken-1"><i
                        class="material-icons">check</i></a>
        </div>
    </div>
</div>